html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

div.h1 {
  border: 2px #eee solid;
  border-style: double;
  border-color: black;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

div.p {
  color: black;
  text-align: center;
  font-size: 20px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

div.container {
  display: block;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}