<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>ContentBasedPodcastRecommender</title>
    <meta name="description" content="Content Based Podcast Recommender">
    <meta name="author" content="Kacie Webster">

      <script type="text/javascript"
              src="{{ url_for('static', filename='jquery.js') }}">
      </script>

      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/_style.css') }}" type="text/css">

</head>

<body>
<div class='container'>
    <h1>Welcome to my Content Based Podcast Recommender!</h1>

    <a href="https://www.listennotes.com">
        <img src="https://production.listennotes.com/web/image/85f0f64b0c0f4f2e91bae3df30322163.png" alt="Listen Notes Logo" style="width:636px;height:250px;" class="center">
    </a>

    <div class="row">
      <p>Listen Notes (2021). [Listen Notes Logo]. Retrieved from <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.listennotes.com%2Fpodcasts%2Fa-girl-life-hidden-gems-a-girl-life-hidden-hDgxZGoYuS-%2F&psig=AOvVaw2BThCNQgxBdvoA2YAgqvAJ&ust=1610580663531000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjrydTGl-4CFQAAAAAdAAAAABAj">listennotes.com</a>.</p>
      <br><p>This application will recommend podcasts based on similarities in the key words provided and their text descriptions.
      <br>This will also return the cosine similarity score between the recommendations and the key words you provided.
      <br>Keep in mind that scores closer to 1 are very similar and scores closer to 0 are not similar.</p>
        <p>Please provide a list of key words in the first box and the number of recommendations you would like in the second box.
        <br>For example, first box: true crime, mystery, serial killer, and second box: 5.
        <br>What kind of podcast are you looking for?</p>
    </div>

      <form action="/recommend" method='POST' >
        <input type="string" name="key_words" />
        <input type="integer" name="num_recs" />
        <input type="submit" />
        </form>

    <div class="row">
      <p><span id="solution"></span></p>
    </div>

</body>
</html>
